html {
    background-color: white;
    /* font-family: Nunito,Avenir,Helvetica,"sans-serif";
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "kern","liga","clig","calt"; */
     
  }